body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
header .wrapper{
    background-color: black;
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    display: flex;
    flex-direction: column;   
    text-align: center;
    align-items: stretch;
    padding-top: 24px;
    font-size: 24px;
    letter-spacing: .2rem;
    justify-content: center;
}

h1{
    font-size: 36px;
    text-align: center;
    padding-left: 19px;
    padding-right: 19px;
}

.header-logo{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


header .nav-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left:0px;
    margin-bottom: 0px;
    opacity: 1;
    
}
header .wrapper img{
    align-items: center;
    
}
header a{
    text-decoration: none;
    color: white;
    
}

header .nav-link-active{
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0.9;
    color: white;
    
}


header .nav-list .nav-list-item{
    padding-left: auto;
    padding-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

footer .wrapper{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top:32px;
    padding-bottom: 32px;
    
}

footer a{

    color: #39D6C0;
}

footer .nav-list{
    font-family: 'Roboto italic', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    
    
}

footer .nav-list-item+.nav-list-item{
    padding-top: 10px;
}

footer .contact{
    opacity:0.75;
    font-style: italic;
}

main .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    display: block;
    height: auto;
    width: 100%;
    
}

.display-none{
    display: none;
}

.logo{
    width: unset;
}

.section-bicolore{
    background-color: black;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}


.div-bicolore{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.div-bicolore>h2{
    font-size: 36px;
    margin: 0px;
}


.button{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.section-services{
    background-image: url(Photo/home/home-04.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bg-green{
    background-color: #39D6C0;
}

.section-image{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 70px;
}

.section-image > img{
    width: 337px;
    height: 250px;
    padding-top: 24px;
}

.section-texte{
    padding-left: 19px;
    padding-right: 19px;
}